$def with(todos)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="../static/js/jquery.ui.core.js"></script>
<script type="text/javascript" src="../static/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="../static/js/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="../static/js/jquery.ui.draggable.js"></script>
<script type="text/javascript" src="../static/js/jquery.ui.resizable.js"></script>
<script type="text/javascript" src="../static/js/gui.js"></script>
</head>
<body>
<!--<input type="button" id="test" value="测试" />-->
<div id="app_board"></div>
<div id="notepad_result"></div>
<div id="notepad_result2"></div>
</body>
</html>
