$def with(todos)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>Web_Terminal</title>
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../static/js/postorder.js" ></script>
	<script type="text/javascript" src="../static/js/jquery.js"></script>
    <link href="../static/css/index_main.css" rel="stylesheet" type="text/css" /> 
  </head>
  <body onLoad="platform();">
    <h1 id="title">Web_Terminal</h1>
    <form method="POST" enctype="multipart/form-data" action="">
            <input type="file" id="fileUpload" style=" visibility:hidden; "  />
            <input type="submit" class="text14-white-bold button-black" id="uploadButton" value="upload" onclick="fileUpload.click();" style="float:left; margin-top:5px; visibility:hidden;" />
    </form>
	<div id="container">
	  <output id="output"></output>
      <div id="edited-line" class="edited-line">
      		<div class="prompt" id="response" >$todos</div>
      </div>
	  <div id="input-line" class="input-line">
	    <div class="prompt">&gt;</div>
        <div>
        <input id="cmdline" type=text class="cmdline" autofocus onkeydown='postorder();'/>
        </div>
	  </div>
	</div>


  </body>
</html>
