<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
	@import url("../static/css/global.css");
</style>
<script type="text/javascript" src="../static/js/main-page.js"></script>
</head>

<body onload="main()">
	<div id="topbar" class="topbar">
    </div>
	<div id="main" class="main">
    	<div id="left-frame" class="left-frame">
    		<div id="item-1" class="explorer-item">
            	<img class="explorer-item-image" />
            	<div id="explorer-item-name" class="explorer-item-name">C:\</div>
        	</div>
    	</div>
    	<div id="right-frame" class="right-frame">
        	<div id="right-container" class="right-container">
            	<div id="icon-1" class="icon-container">
                	<div id="icon-1-image-container" class="file-icon-image-container">
                		<img id="icon-1-image" class="file-icon-image" />
                    </div>
                    <div id="icon-1-name" class="file-icon-name">test.txt</div>
                </div>
            </div>
    	</div>
    </div>
</body>
</html>