<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, width=device-width, user-scalable=no">
<meta name="msapplication-window" content="width=1024;height=768">
<meta name="google-site-verification" content="ooeu0Ygs68PA-Vyx1AiufsVIVVbkU7RukGiAeXhSxlA">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="msapplication-navbutton-color" content="#b4d9f1">
<title>Web_Terminal为您提供网络服务</title>


<link type="text/css" rel="stylesheet" href="http://0.web.qstatic.com/webqqpic/style/qqweb.main.css?t=20120228001">
<style type="text/css">





</style>
<link id="jet_load_0" type="text/css" charset="utf-8" rel="stylesheet" href="http://0.web.qstatic.com/webqqpic/style/qqweb.main.2.css?t=20120228001">

<link id="jet_load_2" type="text/css" charset="utf-8" rel="stylesheet" href="http://8.web.qstatic.com/webqqpic/./module/explorer/style.css?20120228001">
</head>
<body style="display: block; background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; height: 620px; background-position: initial initial; background-repeat: initial initial; ">

<div class="hidden_div">
  <h1>Web_Terminal</h1>
  <p>Web_Terminal为您提供网络服务。</p>
</div>
<noscript>
&lt;div class="noscript"&gt;
			你好，需要浏览器开启JavaScript功能来帮助你使用Web_Terminal。&lt;br/&gt;
			请设置浏览器开启 JavaScript功能，然后重试。
		&lt;/div&gt;
</noscript>
<div id="startingCover" style="opacity: 0; display: none; width: 1280px; height: 620px; " _olddisplay="block">
  <div id="startingLogo"></div>
  <div id="startingText">Starting ...<a href="webqqpic/" id="startingChangeEvn" style="display:none;">您的网络不给力，请尝试手动切换环境!</a></div>
  <div id="startingBarContainer">
    <div id="startingBar" style="width: 100%; "></div>
  </div>
  <div id="startingTips" title="screen:4">100%</div>
</div>
<div id="progress" style="display:none;">jet.all.js loaded(10%):2<br>
  qqweb.part1.js loaded(20%):43<br>
  onload(30%):105<br>
  portal init(40%):109<br>
  themenanager init(50%):199<br>
  pass_ptlogin(60%):201<br>
  FrameWorkReady(100%):201<br>
  qqweb.part2.js loaded(100%):222<br>
  AlloyJsReady(100%):265<br>
  get_def_appinfo start(100%):287<br>
  screen:2(100%):291<br>
  FirstScreenReady(100%):489<br>
  portalReady(100%):490<br>
  screen:0(100%):5504<br>
  screen:1(100%):10504<br>
  screen:3(100%):15504<br>
  screen:4(100%):20504<br>
</div>
<iframe id="touchpad" style="display:none;" src="about:blank"></iframe>
<div id="desktop" class="EQQ_Container" style="position: static; ">
<div id="topBar"></div>

<!--<div id="rightBar"></div>-->
<!--<div class="bottomBarBg"></div>-->
<!--<div class="bottomBarBgTask"></div>-->
<iframe id="taskMenuMask" name="taskMenuMask" class="taskMenuMask" frameborder="0" allowtransparency="true" scrolling="no" style="display: none; " src="./domain.html"></iframe>
<div id="taskMenuBox" class="taskMenuBox " style="display: none; ">
  <div class="taskMenuContentBox">
    <div class="taskMenuContentInner"></div>
  </div>
</div>
<!--<div id="bottomBar" class="bottomBar" style="z-index: 12; ">
  <div class="taskNextBox" id="taskNextBox" _olddisplay="" style="display: none; "><a href="#" class="taskNext" id="taskNext" hidefocus="true"></a></div>
  <div class="taskContainer" id="taskContainer" style="width: 0px; ">
    <div class="taskContainerInner" id="taskContainerInner" style="margin-right: 0px; "></div>
  </div>
  <div class="taskPreBox" id="taskPreBox" _olddisplay="" style="display: none; "><a href="#" class="taskPre" id="taskPre" hidefocus="true"></a></div>
</div>-->
<div id="desktopWrapper" style="left: 73px; right: 0px; ">
<div id="desktopsContainer" class="desktopsContainer desktopsContainerEx" style="top: 0px; width: 1207px; height: 560px; ">

<div index="2" class="desktopContainer desktop_current desktop_current_noanimation" style="left: 1280px; width: 1207px; height: 560px; ">
<div class="appListContainer" customacceptdrop="1" index="2" style="overflow-y: hidden; display: block; opacity: 1; width: 1179px; margin-left: 0px; height: 514px; margin-top: 46px; " _olddisplay="">
  <div class="scrollBar" style="top: 0px; height: 0px; display: none; " _olddisplay="block"></div>
  <div class="appButton addQuickLinkButton" title="添加" screen="2" style="left: 311px; top: 124px; ">
    <div class="addQuickLinkButtonInner"></div>
    <div class="appButton_appName">
      <div class="appButton_appName_inner">添加</div>
      <div class="appButton_appName_inner_right"></div>
    </div>
  </div>
																		
                                                                        
                                                                        
                                                                        <!--各种图标-->
  <div appid="8992" fileid="8992" type="app" id="alloy_icon_app_8992_7" uid="app_8992" class="appButton " title="金山快盘" style="left: 27px; top: 12px; ">
    <div class="appButton_appIcon " id="alloy_icon_app_8992_7_icon_div" style=""><img id="alloy_icon_app_8992_7_img" class="appButton_appIconImg" src="http://2.web.qstatic.com/webqqpic/pubapps/8/8992/images/big.png" onClick="openwin()" alt="金山快盘"></div>
    <div class="appButton_appName">
      <div id="alloy_icon_app_8992_7_name" class="appButton_appName_inner">金山快盘</div>
      <div class="appButton_appName_inner_right"></div>
    </div>
    <!--<div class="appButton_delete" id="alloy_icon_app_8992_7_delete" title="卸载应用"></div>-->
  </div>
  <div appid="3402" fileid="3402" type="app" id="alloy_icon_app_3402_8" uid="app_3402" class="appButton " title="豆瓣FM" style="left: 27px; top: 124px; ">
    <div class="appButton_appIcon " id="alloy_icon_app_3402_8_icon_div" style=""><img id="alloy_icon_app_3402_8_img" class="appButton_appIconImg" src="http://2.web.qstatic.com/webqqpic/pubapps/3/3402/images/big.png" alt="豆瓣FM"></div>
    <div class="appButton_appName">
      <div id="alloy_icon_app_3402_8_name" class="appButton_appName_inner">豆瓣FM</div>
      <div class="appButton_appName_inner_right"></div>
    </div>
    
  </div>
  <div appid="2534" fileid="2534" type="app" id="alloy_icon_app_2534_9" uid="app_2534" class="appButton " title="读览天下" style="left: 27px; top: 236px; ">
    <div class="appButton_appIcon " id="alloy_icon_app_2534_9_icon_div" style=""><img id="alloy_icon_app_2534_9_img" class="appButton_appIconImg" src="http://4.web.qstatic.com/webqqpic/pubapps/2/2534/images/big.png" alt="读览天下"></div>
    <div class="appButton_appName">
      <div id="alloy_icon_app_2534_9_name" class="appButton_appName_inner">读览天下</div>
      <div class="appButton_appName_inner_right"></div>
    </div>
    
  </div>
  <div appid="4" fileid="4" type="app" id="alloy_icon_app_4_10" uid="app_4" class="appButton " title="搜搜地图" style="left: 27px; top: 348px; ">
    <div class="appButton_appIcon " id="alloy_icon_app_4_10_icon_div" style=""><img id="alloy_icon_app_4_10_img" class="appButton_appIconImg" src="http://4.web.qstatic.com/webqqpic/pubapps/0/4/images/big.png" alt="搜搜地图"></div>
    <div class="appButton_appName">
      <div id="alloy_icon_app_4_10_name" class="appButton_appName_inner">搜搜地图</div>
      <div class="appButton_appName_inner_right"></div>
    </div>
    
  </div>
  <div appid="6" fileid="6" type="app" id="alloy_icon_app_6_11" uid="app_6" class="appButton not_deleteable" title="浏览网页" style="left: 169px; top: 12px; ">
    <div class="appButton_appIcon " id="alloy_icon_app_6_11_icon_div" style=""><img id="alloy_icon_app_6_11_img" class="appButton_appIconImg" src="http://6.web.qstatic.com/webqqpic/pubapps/0/6/images/big.png" alt="浏览网页"></div>
    <div class="appButton_appName">
      <div id="alloy_icon_app_6_11_name" class="appButton_appName_inner">浏览网页</div>
      <div class="appButton_appName_inner_right"></div>
    </div>
    
  </div>
  <div appid="64" fileid="64" type="app" id="alloy_icon_app_64_12" uid="app_64" class="appButton " title="Pixlr" style="left: 169px; top: 124px; ">
    <div class="appButton_appIcon " id="alloy_icon_app_64_12_icon_div" style=""><img id="alloy_icon_app_64_12_img" class="appButton_appIconImg" src="http://4.web.qstatic.com/webqqpic/pubapps/0/64/images/big.png" alt="Pixlr"></div>
    <div class="appButton_appName">
      <div id="alloy_icon_app_64_12_name" class="appButton_appName_inner">Pixlr</div>
      <div class="appButton_appName_inner_right"></div>
    </div>
  
  </div>
  <div appid="18" fileid="18" type="app" id="alloy_icon_app_18_13" uid="app_18" class="appButton " title="天气" style="left: 169px; top: 236px; ">
    <div class="appButton_appIcon " id="alloy_icon_app_18_13_icon_div" style=""><img id="alloy_icon_app_18_13_img" class="appButton_appIconImg" src="http://8.web.qstatic.com/webqqpic/pubapps/0/18/images/big.png" alt="天气"></div>
    <div class="appButton_appName">
      <div id="alloy_icon_app_18_13_name" class="appButton_appName_inner">天气</div>
      <div class="appButton_appName_inner_right"></div>
    </div>
   
  </div>
  <div appid="20" fileid="20" type="app" id="alloy_icon_app_20_14" uid="app_20" class="appButton " title="时钟" style="left: 169px; top: 348px; ">
    <div class="appButton_appIcon " id="alloy_icon_app_20_14_icon_div" style=""><img id="alloy_icon_app_20_14_img" class="appButton_appIconImg" src="http://0.web.qstatic.com/webqqpic/pubapps/0/20/images/big.png" alt="时钟"></div>
    <div class="appButton_appName">
      <div id="alloy_icon_app_20_14_name" class="appButton_appName_inner">时钟</div>
      <div class="appButton_appName_inner_right"></div>
    </div>
    
  </div>
  <div fileid="1001" type="dir" id="alloy_icon_dir_1001_15" uid="dir_1001" class="appButton " title="娱乐" style="left: 311px; top: 12px; ">
    <div class="appButton_appIcon " id="alloy_icon_dir_1001_15_icon_div" style=""><img id="alloy_icon_dir_1001_15_img" class="appButton_appIconImg" src="http://0.web.qstatic.com/webqqpic/style/images/filesys/folder_o.png?t=20111011001" alt="娱乐"></div>
    <div class="appButton_appName">
      <div id="alloy_icon_dir_1001_15_name" class="appButton_appName_inner">娱乐</div>
      <div class="appButton_appName_inner_right"></div>
    </div>
  
  </div>
</div>
<div id="appWindow_0" class="window window_current" style="top: 25px; left: 947px; width: 240px; height: 170px; ">
  <div id="widget_outer_0" class="widget_outer widgetDrag" style="z-index: 11; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; height: 150px; ">  </div>
  <div id="appWindow_1" class="window window_current" style="width: 185px; height: 192px; top: 160px; left: 1017px; ">
    <div id="widget_outer_1" class="widget_outer widgetDrag" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; height: 172px; z-index: 12; ">
      <div id="widget_inner_1" class="widget_inner" style="z-index:12">
   
       
   
<div index="3" class="desktopContainer" style="left: 1280px; width: 1207px; height: 560px; ">


<script type="text/javascript" src="http://0.web.qstatic.com/webqqpic/js/jet.all.js?t=20120228001"></script> 
<script type="text/javascript" src="http://0.web.qstatic.com/webqqpic/js/qqweb.part1.js?t=20120228001"></script>
<!--<div id="socketFlash"></div>-->


<script language="javascript">  
<!-- 
function openwin(){ 
window.open
("page.html","newwindow","height=400,width=700,left=300,top=160toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no"); 
//写成一行 
} 
--> 
</script>

</body>
</html>